@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/
.item-1 {
  grid-area: image;
  height: 100%;
  min-height: 400px;
  width: 100%;
  background-image: url(../images/together.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-2 {
  grid-area: paragraph-1;
}

.item-3 {
  grid-area: paragraph-2;
}

.item-4 {
  grid-area: paragraph-3;
}

.item-5 {
  grid-area: cta;
}

.item-2, .item-3, .item-4 {
  /* background: transparent; */
  /* background-color: var(--dark-bg); */
  /* color: var(--light-text-col); */
}

/* .item-2 h3 {
  color: #F2BC57;
}

.item-3 h3 {
  color: #58b8d2;
}

.item-4 h3 {
  color: #F98379;
} */

.vision-grid {
  /* background-color: var(--dark); */
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr ;
  grid-template-areas:
    "image"
    "paragraph-1"
    "paragraph-2"
    "paragraph-3"
    "cta";
}

div.vision p {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.vision-img {
  width: 100%;
  height: auto;
  margin: 0;
}

.gallery-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.image-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tourguide {
  position: relative;
  max-width: 200px;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.375rem 1rem;
  background-color: #ffffffbf;
  font-family: var(--secondary-heading);
  text-align: center;
  font-weight: bold;
  border-radius: 0 0 15px 15px;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Main
--------------------*/
.gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media only screen and (min-width: 768px) {
  .vision-grid {
    width: 90%;
    margin: 0 auto;
  }
}


@media only screen and (min-width: 992px) {
  /* Main
--------------------*/

  .vision-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image paragraph-3 paragraph-3"
      "paragraph-1 paragraph-1 paragraph-1 paragraph-1"
      "paragraph-2 paragraph-2 paragraph-2 paragraph-2"
      "cta cta cta cta";
  }
}


@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/
  .vision-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image image image paragraph-1 paragraph-1 paragraph-1"
      "paragraph-3 paragraph-3 paragraph-3 paragraph-3 paragraph-2 paragraph-2 paragraph-2"
      "cta cta cta cta cta cta cta";
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }  
}

@media only screen and (min-width: 1800px) {
  .vision-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image  paragraph-1 paragraph-1"
      "image image  paragraph-2 paragraph-2"
      "image image  paragraph-3 paragraph-3"
      "cta cta cta cta";
  }
}

