@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/

/* div.item-1 {
  font-family: var(--sofia);
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--blue);
  color: #fff;
} */

div.vision p {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.vision-img {
  width: 100%;
  height: auto;
  margin: 0;
}

/* #get-in-touch-1 {
  border-radius: 0 0 25px 25px;
} */

.gallery-section {
  margin-top: 3rem;
}

.gallery-wrapper {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.image-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tourguide {
  position: relative;
  max-width: 200px;
}

.tourguide img {
  
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.375rem 1rem;
  background-color: #ffffffbf;
  font-family: var(--proxima-soft);
  text-align: center;
  font-weight: bold;
  border-radius: 0 0 15px 15px;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Main
--------------------*/
.gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
}


@media only screen and (min-width: 992px) {
  /* Main
--------------------*/
  /* .item-1 {
    grid-area: introduction;
  } */

  .item-1 {
    grid-area: image;
    height: 100%;
  }

  .item-2 {
    grid-area: paragraph-1;
  }

  .item-3 {
    grid-area: paragraph-2;
  }

  .item-4 {
    grid-area: paragraph-3;
  }

  .vision-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image paragraph-3 paragraph-3"
      "paragraph-1 paragraph-1 paragraph-1 paragraph-1"
      "paragraph-2 paragraph-2 paragraph-2 paragraph-2";
  }
}


@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/
  .vision-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image image image paragraph-1 paragraph-1 paragraph-1"
      "paragraph-3 paragraph-3 paragraph-3 paragraph-3 paragraph-2 paragraph-2 paragraph-2";
  }
  /* .vision-section {
    grid-template-areas:
        "image image paragraph-3 paragraph-3"
        "image image paragraph-1 paragraph-1"
        "image image paragraph-2 paragraph-2";
    } */

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }  
}

@media only screen and (min-width: 1800px) {
  .vision-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image   paragraph-1 paragraph-1"
      "image image   paragraph-2 paragraph-2"
      "image image   paragraph-3 paragraph-3";
  }
}

