@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/
main {
  background-color: white;
}
.margins {
  width: 85%;
  margin: 0 auto;
  background-color: white;
}
.main-wrapper {
  width: 100%;
  background-color: var(--light-grey);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
h1 {
  font-family: var(--proxima);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--dark-purple);
  color: #fff;
  margin: 25px 5% 25px 0;
  padding: 12px 32px;
  border-radius: 0 0 50px 0;
}
section.contact,
section.faq,
section.newsletter {
  width: 90%;
  margin: 0 auto;
}
section > p {
  font-family: var(--sofia);
  font-weight: bold;
}

.contact-form li {
  font-size: 1.125rem;
  padding: 8px;
  list-style: square;
}
.main-form {
  width: 100%;
}
.form {
  display: inline-block;
  width: 100%;
  font-size: 1.125rem;
  border-radius: 0;
  border: 3px solid #0030574d;
  padding: 12px;
  transition-property: border;
  transition-duration: 0.5s;
}
#email_2 {
  padding: 8px 12px;
  font-family: var(--neue-haas);
}
#name {
  padding: 8px 12px;
  font-family: var(--neue-haas);
}
#option {
  padding: 8px 12px;
  font-family: var(--neue-haas);
  font-size: 1rem;
}
#text {
  font-family: var(--neue-haas);
  padding: 8px 12px;
}
button {
  display: block;
  font-family: var(--sofia);
  font-size: 1.25rem;
  background-color: var(--magenta);
  color: #fff;
  padding: 8px 50px;
  margin: 16px auto 50px auto;
  border-bottom: 3px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 15px;
  transition-property: scale;
  transition-duration: 0.5s;
  cursor: pointer;
  scale: 1;
}
button:hover {
  scale: 1.1;
}
h2 {
  font-family: var(--proxima);
  font-size: 1.25rem;
  text-decoration: underline;
}
.faq > li {
  font-family: var(--sofia);
  font-weight: bold;
  font-size: 1.125rem;
}
li > P {
  font-family: var(--neue-haas);
  font-size: 0.875rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 16px;
  margin: 5px 16px 16px 16px;
}
/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Main
--------------------*/
  .main-wrapper {
    width: 90%;
  }
  h1 {
    font-size: 1.875rem;
    text-align: center;
    border-radius: 0;
    margin-right: 0;
  }
  section.contact {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  /* Main
--------------------*/
  h1 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 992px) {
  /* Main
--------------------*/
  main {
    background-color: var(--light-grey);
  }
  .main-wrapper {
    width: 70%;
  }
  .bottom-section {
    width: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  /* main 
--------------------*/
  .main-wrapper {
    width: 50%;
    padding-bottom: 50px;
  }
  h1 {
    font-size: 2.5rem;
  }
  section.contact {
    width: 70%;
  }
  section > p {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  section.faq {
    width: 90%;
    text-align: left;
  }
  .faq li {
    font-size: 1.25rem;
  }
  li > p {
    font-size: 1.125rem;
  }
}
