@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/

#cosmology-anchor,
#evolution-anchor,
#biology-anchor,
#robotics-anchor,
#ecology-anchor {
  position: relative;
  top: -80px;
  visibility: hidden;
}

h4 {
  font-size: 1.25rem;
  font-weight: 800;
  font-family: var(--proxima);
  color: var(--dark-purple);
  margin: 8px 5% 32px 5%;
  text-transform: capitalize;
}

/* .purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}

.dark-green {
  color: var(--dark-green);
}

.orange {
  color: var(--orange);
}

.magenta {
  color: var(--magenta);
} */

.cosmology {
  background-color: #470c6820;
}

.cosmology p {
  color: var(--purple);
}

#cosmology {
  background-color: var(--purple);
}

#evolution {
  background-color: var(--blue);
}

.evolution {
  background-color: #00729820;
}

.evolution p {
  color: var(--blue)
}

#biology {
  background-color: var(--dark-green);
}

.biology {
  background-color: #03463820;
}

.biology p {
  color: var(--dark-green);
}

#robotics {
  background-color: var(--orange);
}

.robotics {
  background-color: #dc440520;
}

.robotics p {
  color: var(--orange);
}

#ecology {
  background-color: var(--magenta);
}

.ecology {
  background-color: #a2006720;
}

.ecology p {
  color: var(--magenta);
}

#special-events {
  background-color: #003057;
}

.special-events {
  background-color: #00305720;
}
.special-events p {
  color: #003057;
}

.card-wrapper {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.card {
  border-radius: 5px;
  box-shadow: 0 6px 12px #00000029;
}

.card-heading {
  text-transform: uppercase;
  /* text-align: center; */
  font-size: 1.375rem;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0;
}

.card-image, .card-image img  {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-heading {
  padding: 0.5rem 1rem;
}

.card-body {
  /* background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: center; */
  padding: 0.5rem 1rem;
}

/* .cosmology {
  background-image: url(../images/icons/planet.png);
}

.evolution {
  background-image: url(../images/icons/dna.png);
}

.biology {
  background-image: url(../images/icons/microscope.png);
}

.robotics {
  background-image: url(../images/icons/robot.png);
}
.ecology {
  background-image: url(../images/icons/tellus.png);
} */

/* .gallery-section {
  width: 100%;
  margin: 0 auto;
} */

.gallery-wrapper {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* .gallery-wrapper figure, .gallery-wrapper img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.gallery-quote {
  font-size: 1.125rem;
  font-style: italic;
  background-color: var(--purple);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0 50px 0 0;
} */

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Main
--------------------*/
  /* h4 {
    font-size: 1.5rem;
  } */

  .card-heading {
    font-size: 1.5rem;
  }

  /* .gallery-quote {
    font-size: 1.5rem;
    text-align: center;
  } */

   .gallery-wrapper {
    gap: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  /* Main
--------------------*/
  
  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media only screen and (min-width: 992px) {
  /* Main
--------------------*/

  .card-heading, .card-body {
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/
 
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 1800px) {
  /* Header
--------------------*/

  /* .dropdown-info {
    width: 320px;
  } */
}
