@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/
.space-section {
  background-color: var(--dark);
  color: var(--white);
  padding: 2rem 0;
  margin: 0 auto 2rem auto;
  box-shadow: 0 6px 12px #00000040;
}

.space-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--white);
}

.space-container {
  /* width: 90%;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.space-container > figure, .space-container > div {
  flex: 1;
}

.space-container div p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

.space-container div p {
  font-size: 1rem;
}

.space-heading {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 2rem 0.5rem 0;
  font-family: var(--main-heading);
  font-size: 1.25rem;
  text-transform: uppercase;
}

#cosmology-heading {
  background: rgb(37,37,37);
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(71,12,104,1) 100%);
  box-shadow: 3px 0 1px rgba(71,12,104,1); 
}

#evolution-heading {
  background: rgb(37,37,37);
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(162,0,103,1) 100%);
  box-shadow: 3px 0 1px rgba(162,0,103,1); 
}

#biology-heading {
  background: rgb(37,37,37);
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(0,114,152,1) 100%);
  box-shadow: 3px 0 1px rgba(0,114,152,1);
}

#robotics-heading {
  background: rgb(37,37,37);
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(220,68,5,1) 100%);
  box-shadow: 3px 0 1px rgba(220,68,5,1);
}

#ecology-heading {
  background: rgb(37,37,37);
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(57,123,24,1) 100%);
  box-shadow: 3px 0 1px rgba(57,123,24,1); 
}

#special-heading {
  background: rgb(37,37,37);
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(15,53,91,1) 100%);
  box-shadow: 3px 0 1px rgba(15,53,91,1); 
}

.space-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.space-image {
  width: 100%;
  margin: 0;
  padding: 0;
}

.space-divider {
  background-color: var(white);
  height: 1px;
  width: 100%;
  margin: 3rem 0;
  opacity: 0.5;
}

/* #cosmology-space,
#evolution-space,
#biology-space,
#robotics-space,
#ecology-space {
  position: relative;
  top: -80px;
  visibility: hidden;
} */

.gallery-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {

  /* Main
--------------------*/
  /* .space-wrapper {
    width: 90%;
    margin: 0 auto;
  } */

   .gallery-wrapper {
    gap: 2rem;
  }
}


@media only screen and (min-width: 768px) {
  /* Main
--------------------*/
.space-wrapper {
  width: 80%;
  margin: 0 auto;
}

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media only screen and (min-width: 992px) {
  /* Main
--------------------*/

  .space-section {
    padding: 3rem 0;
  }

  .space-wrapper {
    width: 90%;
  }

  .space-container {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/


  .space-section {
    width: 90%;
  }

  .space-heading {
    font-size: 1.5rem;
  }

  .space-container div p {
    font-size: 1.125rem;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
  }
}


