@import "variables.css";

/* global styles
--------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--white);
  color: 000;
  font-family: var(--sofia);
  font-size: 1rem;
  width: 100%;
  margin: 0;
}
.fa {
  color: var(--white);
  font-size: 2.5rem;
}
figure {
  display: block;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #fff;
}
span {
  display: block;
}

/* header 
--------------------*/
.icons label {
  display: block;
}
/* search-dropdown */
.search-label {
  cursor: pointer;
}
.search-dropdown {
  position: absolute;
  z-index: 1000;
  top: 138px;
  max-width: 90%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple);
  border-bottom: 8px solid var(--dark-purple);
  border-radius: 70px 0 70px 0;
}
.search-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--dark-purple);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 50px 0 50px 0;
}
form {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 16px;
}
.dropdown-text {
  font-family: var(--neue-haas);
  font-size: 1.125rem;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 32px;
}
#search-box {
  display: none;
}
#search-box ~ .search-dropdown {
  display: none;
}
#search-box:checked ~ .search-dropdown {
  display: block;
}
/* ticket-dropdown */
.ticket-label {
  cursor: pointer;
  position: relative;
}
.ticket-dropdown {
  position: absolute;
  z-index: 1000;
  top: 138px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple);
  border-bottom: 8px solid var(--dark-purple);
  border-radius: 70px 0 70px 0;
}
.ticket-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--dark-purple);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 50px 0 50px 0;
}
form.ticket {
  margin: 0 auto;
}
#select {
  font-family: var(--proxima-soft);
  font-size: 1.125rem;
  font-weight: bold;
  border: 2px solid var(--dark-purple);
  border-radius: 15px;
  padding: 10px;
  background-color: var(--light-grey);
}
#select option {
  font-family: var(--proxima-soft);
  font-size: 1.125rem;
  font-weight: bold;
  border: 2px solid var(--dark-purple);
  background-color: var(--light-grey);
}
button.ticket {
  display: block;
  font-family: var(--sofia);
  font-size: 1.25rem;
  background-color: var(--magenta);
  color: #fff;
  padding: 8px 50px;
  margin: 16px auto 50px auto;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1;
}
button.ticket:hover {
  opacity: 0.65;
}
#ticket-box {
  display: none;
}
#ticket-box ~ .ticket-dropdown {
  display: none;
}
#ticket-box:checked ~ .ticket-dropdown {
  display: block;
}

/* profile-dropdown */
.profile-label {
  cursor: pointer;
  position: relative;
}
.profile-dropdown {
  position: absolute;
  z-index: 1000;
  top: 138px;
  width: 90%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple);
  border-bottom: 8px solid var(--dark-purple);
  border-radius: 70px 0 70px 0;
}
.profile-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--dark-purple);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 50px 0 50px 0;
}
form.label {
  font-family: var(--neue-haas);
}
input.box {
  display: inline-block;
  width: 100%;
  font-size: 1.125rem;
  color: #172940;
  border-radius: 0;
  border: 2px solid #5361757d;
  padding: 10px 10px 10px 10px;
  margin: 0 auto 0 auto;
  border-radius: 15px;
  transition-property: border;
  transition-duration: 0.5s;
}
button.profile {
  display: block;
  cursor: pointer;
  font-family: var(--sofia);
  font-size: 1.25rem;
  background-color: var(--magenta);
  color: #fff;
  padding: 8px 50px;
  margin: 16px auto 50px auto;
  border: none;
  border-radius: 15px;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1;
}
button.profile:hover {
  opacity: 0.65;
}
#profile-box {
  display: none;
}
#profile-box ~ .profile-dropdown {
  display: none;
}
#profile-box:checked ~ .profile-dropdown {
  display: block;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  display: block;
  width: 300px;
  margin: 8px auto 0 auto;
}
.logo img {
  display: block;
  width: 300px;
}
nav.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 16px 0;
  /* background-color: aqua; */
}
.icon {
  color: var(--dark-purple);
  transition-property: scale;
  transition-duration: 0.5s;
  scale: 1;
}
.icon:hover {
  scale: 1.15;
}
.icons li {
  list-style: none;
}
/* .white-box {
  background-color: #ffffff;
  width: 100%;
  height: 62px;
} */
nav.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0;
  margin: 0;
  background-color: var(--magenta);
  color: var(--white);
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}
header {
  display: inline;
}
/* mobile menu */
.fa-bars {
  font-size: 1.875rem;
}
ul.mobile-menu {
  /* background-color: navy; */
  margin: 0 0 0 2rem;
  padding: 0;
}
.mobile-menu label p {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}
ul.large-screen {
  display: none;
}
ul li {
  list-style: none;
}
#visit {
  margin-bottom: 20px;
}
.mobile-menu li {
  display: block;
  float: left;
  clear: left;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hamburger-label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
#menu {
  font-family: var(--proxima);
  display: inline-block;
  font-weight: bold;
  padding-left: 20px;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu ~ li {
  display: none;
}
#hamburger-menu:checked ~ li {
  display: block;
}
/* main 
--------------------*/
.main-wrapper {
  width: 100%;
  margin: 0 auto;
}
section.main-content {
  width: 90%;
  margin: 0 auto;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1.large-screen {
  display: none;
}
h1 {
  font-family: var(--proxima);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-color: var(--dark-purple);
  color: #fff;
  padding: 12px 5%;
  margin: 32px 16px 32px 0;
  border-radius: 0 0 50px 0;
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 25px 25px 0 0;
  padding: 12px;
  margin: 0;
}
.fa-arrow-circle-left,
.fa-arrow-circle-right {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.fa-arrow-circle-down {
  display: block;
  font-size: 4rem;
  text-align: center;
  margin: 16px auto;
  /* opacity: 0.5; */
}
.purple {
  color: var(--purple);
}
.blue {
  color: var(--blue);
}
.dark-green {
  color: var(--dark-green);
}
.orange {
  color: var(--orange);
}
.magenta {
  color: var(--magenta);
}
#cosmology {
  background-color: var(--purple);
}
#evolution {
  background-color: var(--blue);
}
#biology {
  background-color: var(--dark-green);
}
#robotics {
  background-color: var(--orange);
}
#ecology {
  background-color: var(--magenta);
}
div.card {
  background-color: #fff;
  width: 344px;
  height: 450px;
  border-radius: 25px;
  box-shadow: 0 6px 12px #00000029;
  padding-bottom: 16px;
}
div.card p {
  /* font-family: var(--neue-haas); */
  width: 90%;
  margin: 16px auto;
  font-size: 1rem;
  padding-top: 0;
}
figure.card-large {
  display: none;
}
figure.card,
figure.card-large {
  width: 344px;
  height: 450px;
  margin: 0;
  border: 16px solid #fff;
  border-radius: 25px;
  box-shadow: 0 6px 12px #00000029;
  margin-bottom: 64px;
}
figure.card img,
figure.card-large img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
}
div.background {
  height: 400px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-position-y: center; */
}
.cosmology {
  background-image: url(../images/icons/tellus.png);
}
.evolution {
  background-image: url(../images/icons/dna.png);
}
.biology {
  background-image: url(../images/icons/microscope.png);
}
.robotics {
  background-image: url(../images/icons/robot.png);
}
.ecology {
  background-image: url(../images/icons/tellus.png);
}
section.photo-gallery {
  width: 100%;
  margin: 0 auto;
}
h3 {
  font-family: var(--proxima);
  font-size: 1.25rem;
  background-color: var(--dark-purple);
  color: #fff;
  padding: 12px 16px;
  margin: 32px 16px 16px 0;
  border-radius: 0 0 50px 0;
}
.photo-gallery img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  /* opacity: 0.65; */
}
.image-wrapper {
  width: 90%;
  margin: 32px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  transition-property: scale;
  transition-duration: 0.5s;
  scale: 1;
}
.image-wrapper figure {
  margin: 0;
  transition-property: scale opacity;
  transition-duration: 0.5s;
  scale: 1;
  opacity: 0.65;
}
.image-wrapper figure:hover {
  scale: 1.1;
  opacity: 1;
}
.image-wrapper div {
  border-radius: 15px;
}
p.visit {
  font-family: var(--sofia);
  font-size: 1.125rem;
  font-style: italic;
  background-color: var(--light-purple);
  color: #fff;
  padding: 12px 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 0 50px 0 0;
}
.newsletter-wrapper {
  background-image: url(../images/newsletter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 32px;
  margin-bottom: 0;
}
.blur {
  background-color: #ffffffa6;
  margin-bottom: 0;
  height: 150px;
  position: relative;
  top: 150px;
}
section.newsletter {
  width: 90%;
  margin: 0 auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* background-color: green; */
}
.newsletter p {
  display: block;
  font-family: var(--neue-haas);
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  min-width: 328px;
  max-width: 400px;
  padding-top: 16px;
  margin: 0;
}
form.newsletter {
  width: 100%;
  max-width: 600px;
  height: 40px;
  margin: 16px auto 32px auto;
  display: flex;
  justify-content: center;
}
#newsletter {
  font-family: var(--sofia);
  font-size: 1rem;
  width: 70%;
  height: 40px;
  border: 3px solid var(--dark-purple);
  padding-left: 20px;
  flex: 2;
}
#sign-up {
  font-family: var(--sofia);
  font-size: 1rem;
  width: 30%;
  height: 40px;
  border: 3px solid var(--dark-purple);
  background-color: var(--dark-purple);
  color: #fff;
  flex: 1;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1;
}
#sign-up:hover {
  opacity: 0.65;
}

/* footer 
--------------------*/
footer {
  font-family: var(--neue-haas);
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--teal);
  color: #fff;
  margin-top: 0;
}
.footer-container {
  margin-left: 5%;
  margin-top: 0;
}
.footer-container ul {
  margin-top: 0;
}
.footer-container ul li {
  list-style: none;
}
.footer-container p {
  margin: 0;
}
.connect span {
  font-size: 2rem;
}
ul.connect {
  display: flex;
  width: 90%;
  /* background-color: mediumvioletred; */
  margin-left: 0;
  padding-left: 0;
}
ul.connect span {
  margin-right: 32px;
}
.hours-wrapper {
  display: flex;
}
.fa-map-marker-alt {
  font-size: 2rem;
  margin-top: 16px;
  margin-right: 16px;
}
.location span {
  display: flex;
}
.location {
  display: flex;
}
.location p {
  text-decoration: underline;
  margin-top: 16px;
}
.hours,
.contact {
  display: block;
  margin-left: 0;
  padding: 0;
}
.contact a {
  display: block;
  text-decoration: underline;
  margin-bottom: 5px;
}
h6 {
  font-family: var(--proxima);
  font-weight: bold;
  font-size: 1.125rem;
  margin: 32px 0 8px 0;
}
#copyright {
  font-family: var(--neue-haas);
  display: block;
  text-align: center;
  margin: 0;
  padding: 8px 0;
}
#copyright::before {
  content: "\00A9";
  padding-right: 5px;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Header
--------------------*/
  .search-dropdown,
  .ticket-dropdown,
  .profile-dropdown {
    width: 400px;
  }

  /* Main
--------------------*/
  h1 {
    font-size: 1.875rem;
    text-align: center;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2rem;
    text-align: center;
  }
  p.visit {
    font-size: 1.5rem;
    text-align: center;
  }
  div.card p {
    font-size: 1.25rem;
  }
  div.card {
    min-width: 675px;
    height: 450px;
    scale: 0.8;
    margin-top: 0;
    margin-bottom: 0;
  }
  .fa-arrow-circle-down {
    margin: 0;
    padding: 0;
  }
  figure.card {
    display: none;
  }
  figure.card-large {
    display: block;
    min-width: 675px;
    height: 450px;
    margin: 0 5%;
    scale: 0.8;
  }
  div.background {
    background-size: 40%;
  }
  .photo-gallery img {
    width: 200px;
    height: 200px;
  }
  section.newsletter {
    width: 70%;
  }
  #newsletter {
    font-size: 1.125rem;
    height: 45px;
    border-radius: 25px 0 0 25px;
  }
  #sign-up {
    font-size: 1.25rem;
    height: 45px;
    border-radius: 0 25px 25px 0;
  }
  /* Footer
--------------------*/
}
@media only screen and (min-width: 768px) {
  /* Header
--------------------*/
  .logo {
    width: 300px;
    margin-left: 32px;
    margin-top: 16px;
  }
  .logo img {
    width: 300px;
  }
  .icons label span {
    font-size: 3rem;
  }
  .header-wrapper {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: lightblue; */
  }
  nav.icons {
    justify-content: flex-end;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .search-label,
  .profile-label,
  .ticket-label {
    margin-left: 64px;
  }
  .search-dropdown {
    width: 400px;
    top: 113.5px;
    margin-right: 236px;
    right: 5%;
  }
  .ticket-dropdown {
    width: 400px;
    top: 113.5px;
    margin-right: 124px;
    right: 5%;
  }
  .profile-dropdown {
    width: 400px;
    top: 113.5px;
    margin-right: 24px;
    right: 5%;
  }
  /* Main
--------------------*/
  h1 {
    font-size: 2.25rem;
  }
  div.card {
    scale: 1;
    margin-top: 32px;
  }
  figure.card-large {
    scale: 1;
  }
  .fa-arrow-circle-down {
    margin: 32px auto;
  }
  section.newsletter {
    width: 50%;
  }
  /* Footer
--------------------*/
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .fi1 {
    order: 1;
  }
  .fi2 {
    order: 3;
  }
  .fi3 {
    order: 2;
  }
  .fi4 {
    order: 4;
  }
  .footer-container {
    width: 300px;
  }
}
@media only screen and (min-width: 992px) {
  /* Main
--------------------*/
  .image-wrapper {
    justify-content: flex-start;
  }
  .photo-gallery img {
    width: 250px;
    height: 250px;
  }
  section.newsletter {
    width: 40%;
  }
  /* Footer
--------------------*/
  .footer-wrapper {
    font-size: 1.125rem;
  }
  .footer-container {
    width: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  /* Header
--------------------*/
  .logo {
    width: 500px;
    margin-left: 128px;
  }
  .logo img {
    width: 500px;
  }
  .icons label span {
    font-size: 4rem;
  }
  .search-dropdown {
    top: 128px;
    margin-right: 288px;
    right: 5%;
    left: auto;
  }
  .ticket-dropdown {
    top: 128px;
    margin-right: 160px;
    right: 5%;
  }
  .profile-dropdown {
    top: 128px;
    margin-right: 32px;
    right: 5%;
  }
  nav.menu {
    height: 60px;
    border-radius: 0 100px 0 0;
    align-items: center;
    justify-content: space-around;
  }
  ul.mobile-menu {
    display: none;
  }
  ul.large-screen {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
  .large-screen li {
    position: relative;
  }
  .purple-box {
    display: block;
    text-align: center;
    background-color: var(--dark-purple);
    width: 270px;
    padding: 16.5px;
    margin: 0;
    /* border-left: 2px solid var(--dark-purple);
border-right: 2px solid var(--dark-purple); */
    border-radius: 70px 0 70px 0;
    position: relative;
  }
  .purple-box:hover {
    border-radius: 70px 0 0 0;
  }
  .inactive {
    background-color: transparent;
    /* border-left: 2px solid transparent;
border-right: 2px solid transparent; */
  }
  .inactive:hover {
    background-color: var(--dark-purple);
  }
  .dropdown-info {
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    width: 270px;
    background-color: #fff;
    color: #000;
    position: absolute;
    left: 0;
    border-left: 2px solid var(--dark-purple);
    border-right: 2px solid var(--dark-purple);
    border-bottom: 8px solid var(--dark-purple);
    border-radius: 0 0 70px 0;
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .large-screen li:hover > .dropdown-info {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  p.header {
    font-family: var(--proxima);
    font-weight: bold;
    margin-top: 16px;
  }
  .dropdown-info p {
    font-family: var(--neue-haas);
  }
  /* Main
--------------------*/
  section.main-content {
    padding-top: 32px;
  }
  h1.mobile {
    display: none;
  }
  h1.large-screen {
    display: block;
    font-size: 2.5rem;
    width: 90%;
    margin: 50px auto 0 auto;
    text-transform: capitalize;
    text-align: center;
    border-radius: 0;
  }
  .card-wrapper {
    flex-direction: row;
    justify-content: center;
    /* background-color: lightblue; */
  }
  div.card {
    min-width: 450px;
    height: 550px;
    margin: 64px 5% 32px 5%;
  }
  figure.card {
    display: block;
    min-width: 450px;
    height: 550px;
    margin: 64px 5% 32px 5%;
  }
  figure.card-large {
    display: none;
  }
  .fa-arrow-circle-down {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  div.background {
    background-size: contain;
    height: 300px;
  }
  div.reverse {
    order: 3;
  }
  figure.reverse {
    order: 1;
  }
  span.reverse {
    order: 2;
  }
  .fa-arrow-circle-down {
    display: none;
  }
  .fa-arrow-circle-left,
  .fa-arrow-circle-right {
    display: block;
    visibility: visible;
    opacity: 1;
    font-size: 4rem;
    margin-bottom: 50px;
  }
  h3 {
    width: 90%;
    margin: 64px auto 16px auto;
    font-size: 2rem;
    text-align: center;
  }
  .photo-gallery img {
    width: 275px;
    height: 275px;
    border-radius: 15px;
    /* opacity: 0.65; */
  }
  p.visit {
    width: 90%;
    margin: 16px auto 64px auto;
    font-size: 1.5rem;
    text-align: center;
  }
  /* newsletter
--------------------*/
  .newsletter-wrapper {
    width: 90%;
    margin: 64px auto 32px auto;
    border-radius: 0 0 50px 50px;
  }
  section.newsletter {
    width: 100%;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
  }
  .newsletter p {
    min-width: 33%;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-left: 10%;
  }
  form.newsletter {
    height: 60px;
    margin-left: 10%;
  }
  #newsletter {
    font-size: 1.125rem;
    height: 60px;
    padding-left: 20px;
    flex: 3;
  }
  #sign-up {
    font-family: var(--sofia);
    font-size: 1.25rem;
    height: 60px;
  }
  /* Footer
--------------------*/
  .footer-wrapper {
    font-size: 1.125rem;
    flex-wrap: nowrap;
  }
  .footer-container {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: green; */
  }
  ul.connect {
    flex-direction: column;
  }
  .connect li {
    padding: 8px;
  }
}
@media only screen and (min-width: 1800px) {
  /* Header
--------------------*/
  .purple-box {
    width: 320px;
  }
  .dropdown-info {
    width: 320px;
  }
  /* Main
--------------------*/
  figure.card {
    display: none;
  }
  figure.card-large {
    display: block;
  }
  div.card {
    min-width: 675px;
    height: 450px;
  }
}
