@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/
div.blue {
  background-color: var(--blue);
  font-size: 1.125rem;
  color: #fff;
}

#club-anchor {
  position: relative;
  top: -75px;
  visibility: hidden;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

#item-3 {
  height: 300px;
  background-image: url(../images/kids-cartoon_large.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#item-6 {
  height: 300px;
  background-image: url(../images/researcher-cartoon_large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* #get-in-touch-1 {

  border-radius: 5px;
}

#get-in-touch-2 {
  border-radius: 0 0 25px 25px;
} */

/* styles that change
--------------------*/

@media only screen and (min-width: 992px) {
  /* Main
--------------------*/
  #item-1,
  #item-2,
  #item-3,
  #item-4,
  #item-5,
  #item-6 {
    flex: 1;
  }

  #item-3,
  #item-6 {
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/
  main {
    background-color: #d8d8d8;
    font-size: 1.125rem;
  }

  h2,
  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 24px;
  }
  
  div.blue {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1600px) {
  /* #item-3 {
    background-image: url(../images/kids-cartoon_large.jpg);
  }
  #item-6 {
    background-image: url(../images/researcher-cartoon_large.jpg);
  } */
}
@media only screen and (min-width: 1800px) {
  /* Main
--------------------*/

  #item-1,
  #item-2,
  #item-4,
  #item-5 {
    flex: 2;
  }

  #item-3,
  #item-6 { 
    flex: 3;
  }
}
