@import "variables.css";

/* global styles
--------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--white);
  color: 000;
  font-family: var(--neue-haas);
  font-size: 1rem;
  width: 100%;
  margin: 0;
}
.fa {
  color: var(--white);
  font-size: 2.5rem;
  display: none;
}
figure {
  display: block;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #fff;
}
/* header 
--------------------*/
.icons label {
  display: block;
}
/* search-dropdown */
.search-label {
  cursor: pointer;
}
.search-dropdown {
  position: absolute;
  z-index: 1000;
  top: 137px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple);
  border-bottom: 8px solid var(--dark-purple);
  border-radius: 70px 0 70px 0;
}
.search-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--dark-purple);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 50px 0 50px 0;
}
form {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 16px;
}
.dropdown-text {
  font-family: var(--neue-haas);
  font-size: 1.125rem;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 32px;
}
#search-box {
  display: none;
}
#search-box ~ .search-dropdown {
  display: none;
}
#search-box:checked ~ .search-dropdown {
  display: block;
}
/* ticket-dropdown */
.ticket-label {
  cursor: pointer;
  position: relative;
}
.ticket-dropdown {
  position: absolute;
  z-index: 1000;
  top: 137px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple);
  border-bottom: 8px solid var(--dark-purple);
  border-radius: 70px 0 70px 0;
}
.ticket-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--dark-purple);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 50px 0 50px 0;
}
form.ticket {
  margin: 0 auto;
}
#select {
  font-family: var(--proxima-soft);
  font-size: 1.125rem;
  font-weight: bold;
  border: 2px solid var(--dark-purple);
  border-radius: 15px;
  padding: 10px;
  background-color: var(--light-grey);
}
#select option {
  font-family: var(--proxima-soft);
  font-size: 1.125rem;
  font-weight: bold;
  border: 2px solid var(--dark-purple);
  background-color: var(--light-grey);
}
button.ticket {
  display: block;
  font-family: var(--sofia);
  font-size: 1.25rem;
  background-color: var(--magenta);
  color: #fff;
  padding: 8px 50px;
  margin: 16px auto 50px auto;
  border: none;
  border-radius: 15px;
}
#ticket-box {
  display: none;
}
#ticket-box ~ .ticket-dropdown {
  display: none;
}
#ticket-box:checked ~ .ticket-dropdown {
  display: block;
}

/* profile-dropdown */
.profile-label {
  cursor: pointer;
  position: relative;
}
.profile-dropdown {
  position: absolute;
  z-index: 1000;
  top: 137px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple);
  border-bottom: 8px solid var(--dark-purple);
  border-radius: 70px 0 70px 0;
}
.profile-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--dark-purple);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 50px 0 50px 0;
}
form.label {
  font-family: var(--neue-haas);
}
input.box {
  display: inline-block;
  width: 100%;
  font-size: 1.125rem;
  color: #172940;
  border-radius: 0;
  border: 2px solid #5361757d;
  padding: 10px 10px 10px 10px;
  margin: 0 auto 0 auto;
  border-radius: 15px;
  transition-property: border;
  transition-duration: 0.5s;
}
button.profile {
  display: block;
  font-family: var(--sofia);
  font-size: 1.25rem;
  background-color: var(--magenta);
  color: #fff;
  padding: 8px 50px;
  margin: 16px auto 50px auto;
  border: none;
  border-radius: 15px;
}
#profile-box {
  display: none;
}
#profile-box ~ .profile-dropdown {
  display: none;
}
#profile-box:checked ~ .profile-dropdown {
  display: block;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  display: block;
  width: 300px;
  margin: 8px auto 0 auto;
}
.logo img {
  display: block;
  width: 300px;
}
nav.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 16px 0;
  /* background-color: aqua; */
}
.icon {
  color: var(--dark-purple);
}
.icons li {
  list-style: none;
}
/* .white-box {
  background-color: #ffffff;
  width: 100%;
  height: 62px;
} */
nav.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0;
  margin: 0;
  background-color: var(--magenta);
  color: var(--white);
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 0;
}
header {
  display: inline;
}
/* mobile menu */
.fa-bars {
  font-size: 1.875rem;
}
ul.mobile-menu {
  /* background-color: navy; */
  margin: 0 0 0 2rem;
  padding: 0;
}
.mobile-menu label p {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}
ul.large-screen {
  display: none;
}
ul li {
  list-style: none;
}
#visit {
  margin-bottom: 20px;
}
.mobile-menu li {
  display: block;
  float: left;
  clear: left;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hamburger-label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
#menu {
  font-family: var(--proxima);
  display: inline-block;
  font-weight: bold;
  padding-left: 20px;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu ~ li {
  display: none;
}
#hamburger-menu:checked ~ li {
  display: block;
}
/* main 
--------------------*/
.main-wrapper {
  width: 100%;
  margin: 0 auto;
}
section.main-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h1.large-screen {
  display: none;
}
h1 {
  font-family: var(--proxima);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--dark-purple);
  color: #fff;
  margin: 32px 16px 32px 0;
  padding: 12px 32px;
  border-radius: 0 0 50px 0;
}
h2 {
  margin-left: 5%;
  font-family: var(--proxima);
  font-size: 1.5rem;
}
div.support {
  width: 100%;
  background-color: var(--light-grey);
  margin-bottom: 16px;
  padding-bottom: 16px;
}
div.support p {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 16px;
}
.get-in-touch {
  width: 90%;
  margin: 0 auto;
  background-color: #7c68a6;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  border-radius: 0 25px;
  display: flex;
  flex-direction: column;
}
.get-in-touch > p {
  font-family: var(--proxima);
  font-weight: bold;
  text-transform: capitalize;
  margin: 16px 0;
}
p.button {
  font-family: var(--sofia);
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  background-color: var(--magenta);
  color: var(--white);
  padding: 8px 32px;
  margin-top: 0;
  margin-bottom: 16px;
}
.newsletter-wrapper {
  background-image: url(../images/newsletter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 32px;
  margin-bottom: 0;
}
.blur {
  background-color: #ffffffa6;
  margin-bottom: 0;
  height: 150px;
  position: relative;
  top: 150px;
}
section.newsletter {
  width: 90%;
  margin: 0 auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: green; */
}
.newsletter p {
  display: block;
  font-family: var(--neue-haas);
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  max-width: 328px;
  padding-top: 16px;
  margin: 0;
}
form.newsletter {
  width: 100%;
  max-width: 600px;
  height: 40px;
  margin: 16px auto;
  display: flex;
  justify-content: center;
}
#newsletter {
  font-family: var(--sofia);
  font-size: 1rem;
  width: 70%;
  height: 40px;
  border: 3px solid var(--dark-purple);
  padding-left: 20px;
  flex: 2;
}
#sign-up {
  font-family: var(--sofia);
  font-size: 1rem;
  width: 30%;
  height: 40px;
  border: 3px solid var(--dark-purple);
  background-color: var(--dark-purple);
  color: #fff;
  flex: 1;
}

/* footer 
--------------------*/
footer {
  font-family: var(--neue-haas);
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--teal);
  color: #fff;
  margin-top: 0;
}
.footer-container {
  margin-left: 5%;
  margin-top: 0;
}
.footer-container ul {
  margin-top: 0;
}
.footer-container ul li {
  list-style: none;
}
.footer-container p {
  margin: 0;
}
.connect span {
  font-size: 2rem;
}
ul.connect {
  display: flex;
  width: 90%;
  /* background-color: mediumvioletred; */
  margin-left: 0;
  padding-left: 0;
}
ul.connect span {
  margin-right: 32px;
}
.hours-wrapper {
  display: flex;
}
.fa-map-marker-alt {
  font-size: 2rem;
  margin-top: 16px;
  margin-right: 16px;
}
.location span {
  display: flex;
}
.location {
  display: flex;
}
.location p {
  text-decoration: underline;
  margin-top: 16px;
}
.hours,
.contact {
  display: block;
  margin-left: 0;
  padding: 0;
}
.contact a {
  display: block;
  text-decoration: underline;
  margin-bottom: 5px;
}
h6 {
  font-family: var(--proxima);
  font-weight: bold;
  font-size: 1rem;
  margin: 32px 0 16px 0;
}
#copyright {
  font-family: var(--neue-haas);
  display: block;
  text-align: center;
  margin: 0;
  padding: 8px 0;
}
#copyright::before {
  content: "\00A9";
  padding-right: 5px;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 1200px) {
  /* Header
--------------------*/
  .header-wrapper {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: lightblue; */
  }
  .logo {
    width: 500px;
    margin-left: 128px;
  }
  .logo img {
    width: 500px;
  }
  nav.icons {
    justify-content: flex-end;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .search-label,
  .profile-label,
  .ticket-label {
    margin-left: 64px;
  }
  .icons label span {
    font-size: 4rem;
  }
  .search-dropdown,
  .ticket-dropdown,
  .profile-dropdown {
    width: 400px;
    top: 128px;
  }
  .search-dropdown {
    right: 18.5%;
  }
  .ticket-dropdown {
    right: 12.5%;
  }
  .profile-dropdown {
    right: 6.5%;
  }
  nav.menu {
    height: 60px;
    border-radius: 0 100px 0 0;
    align-items: center;
  }
  ul.mobile-menu {
    display: none;
  }
  ul.large-screen {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
  .large-screen li {
    position: relative;
  }
  .purple-box {
    display: block;
    text-align: center;
    background-color: var(--dark-purple);
    width: 320px;
    padding: 16px;
    margin: 0;
    /* border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple); */
    border-radius: 70px 0 70px 0;
  }
  .purple-box:hover {
    border-radius: 70px 0 0 0;
  }
  .inactive {
    background-color: transparent;
    /* border-left: 2px solid transparent;
  border-right: 2px solid transparent; */
  }
  .inactive:hover {
    /* border-left: 2px solid var(--dark-purple);
  border-right: 2px solid var(--dark-purple); */
    background-color: #210759a6;
  }
  .dropdown-info {
    font-size: 1.125rem;
    padding-left: 16px;
    padding-right: 16px;
    width: 320px;
    background-color: #fff;
    color: #000;
    position: absolute;
    left: 0;
    border-left: 2px solid var(--dark-purple);
    border-right: 2px solid var(--dark-purple);
    border-bottom: 8px solid var(--dark-purple);
    border-radius: 0 0 70px 0;
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .large-screen li:hover > .dropdown-info {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  p.header {
    font-family: var(--proxima);
    font-weight: bold;
    margin-top: 16px;
  }
  /* Main
--------------------*/
  h1.mobile {
    display: none;
  }
  h1.large-screen {
    display: block;
    width: 90%;
    margin: 50px auto 16px auto;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    border-radius: 0;
  }
  h2 {
    font-size: 1.875rem;
  }
  section.main-content {
    font-size: 1.25rem;
    flex-direction: row;
    gap: 16px;
  }
  .get-in-touch {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 64px;
  }
  .get-in-touch p {
    font-size: 1.5rem;
  }
  p.button {
    font-size: 1.25rem;
  }
  /* newsletter
--------------------*/
  .newsletter-wrapper {
    width: 90%;
    margin: 64px auto 32px auto;
    border-radius: 0 0 50px 50px;
  }
  section.newsletter {
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
  }
  .newsletter p {
    font-size: 1.125rem;
    max-width: 400px;
    margin-bottom: 16px;
  }
  form.newsletter {
    height: 60px;
  }
  #newsletter {
    font-size: 1.125rem;
    height: 60px;
    padding-left: 20px;
    flex: 3;
    border-radius: 25px 0 0 25px;
  }
  #sign-up {
    font-family: var(--sofia);
    font-size: 1.25rem;
    height: 60px;
    border-radius: 0 25px 25px 0;
  }
  /* Footer
--------------------*/
  .footer-wrapper {
    font-size: 1.125rem;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-container {
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: green; */
  }
  ul.connect {
    flex-direction: column;
  }
  .connect li {
    padding: 8px;
  }
}
