@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/
#item-1 {
  grid-area: donations;
}

#item-2 {
  grid-area: volunteer;
}

#item-3 {
  grid-area: internship;
}

#item-4 {
  grid-area: cta;
} 

.support-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "donations"
    "volunteer"
    "internship"
    "cta";
}

/* styles that change
--------------------*/

@media only screen and (min-width: 992px) {
  /* Main
--------------------*/
  .support-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "donations volunteer internship"
      "cta cta cta";
  }
}

