@import "imports/variables.css";

/* global styles
--------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: fff;
}

/* header 
--------------------*/

/* main 
--------------------*/

/* footer 
--------------------*/

/* styles that change
--------------------*/
