/* global styles
--------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #000;
  font-family: var(--sofia);
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

main {
  background-color: #d8d8d8;
}

.fa {
  color: var(--white);
  font-size: 2.5rem;
  display: inline-block;
}

figure {
  display: block;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

/* new code */
.main-wrapper {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 2rem;
}

.content-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-heading {
  width: 100%;
  font-family: var(--proxima);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  background-color: var(--dark-purple);
  color: #fff;
  margin: 0;
  padding: 12px 5%;
  border-radius: 25px 25px 0 0;
}

.section-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.get-in-touch {
  background-color: #7c68a6;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.get-in-touch>p {
  font-family: var(--proxima);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.button {
  font-family: var(--sofia);
  display: inline-block;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  background-color: var(--magenta);
  color: var(--white);
  padding: 0.5rem 2rem;
  margin: 0;
  transition-property: scale;
  transition-duration: 0.5s;
  scale: 1;
}

.button:hover {
  scale: 1.1;
}

/* header 
--------------------*/

/* search-dropdown */
.search-dropdown {
  position: absolute;
  top: 146px;
  width: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 6px solid var(--dark-blue);
  border-radius: 70px 0 70px 0;
  display: none;
}

.search-dropdown {
  animation-name: animate-dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.search-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--magenta);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 75px 0 75px 0;
}

form {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.dropdown-text {
  font-family: var(--neue-haas);
  font-size: 1.125rem;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 32px;
}

.icons i {
  cursor: pointer;
}

/* ticket-dropdown */
.ticket-dropdown {
  position: absolute;
  top: 146px;
  width: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 6px solid var(--dark-blue);
  border-radius: 70px 0 70px 0;
  display: none;
}

.ticket-dropdown {
  animation-name: animate-dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.ticket-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--magenta);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 75px 0 75px 0;
}

form.ticket {
  margin: 0 auto;
}

#select {
  font-family: var(--proxima-soft);
  font-size: 1.125rem;
  font-weight: bold;
  border: 3px solid #0030574d;
  padding: 10px;
}

#select:focus {
  border: 3px solid #003057;
}

#select option {
  font-family: var(--proxima-soft);
  font-size: 1.125rem;
  font-weight: bold;
  border: 2px solid var(--dark-purple);
  background-color: var(--light-grey);
}

button.ticket {
  display: block;
  font-family: var(--sofia);
  font-size: 1.25rem;
  background-color: var(--dark-blue);
  color: #fff;
  padding: 8px 50px;
  margin: 25px auto 50px auto;
  border-radius: 10px;
  border-bottom: 3px solid #ffffff;
  border-right: 2px solid #ffffff;
  cursor: pointer;
  transition-property: scale;
  transition-duration: 0.5s;
  scale: 1;
}

button.ticket:hover {
  scale: 1.1;
}

/* profile-dropdown */
.profile-dropdown {
  position: absolute;
  top: 146px;
  width: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 6px solid var(--dark-blue);
  border-radius: 70px 0 70px 0;
  display: none;
}

.profile-dropdown {
  animation-name: animate-dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.profile-header {
  z-index: 1000;
  width: 100%;
  font-family: var(--proxima);
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--magenta);
  color: #fff;
  margin-top: 0;
  padding: 17px;
  border-radius: 75px 0 75px 0;
}

label {
  font-family: var(--neue-haas);
  font-weight: bold;
}

input.box {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  color: #172940;
  border-radius: 0;
  border: 3px solid #0030574d;
  padding: 10px 10px 10px 10px;
  margin: 0 auto 0 auto;
  transition-property: border;
  transition-duration: 0.3s;
}

input.box:focus {
  outline: none;
  border: 3px solid #003057;
}

button.profile {
  display: block;
  cursor: pointer;
  font-family: var(--sofia);
  font-size: 1.25rem;
  background-color: var(--dark-blue);
  color: #fff;
  padding: 8px 50px;
  margin: 25px auto 50px auto;
  border-radius: 10px;
  border-bottom: 3px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 10px;
  transition-property: scale;
  transition-duration: 0.5s;
  scale: 1;
}

button.profile:hover {
  scale: 1.1;
}

.header-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: block;
  width: 250px;
  margin: 1rem auto 0 auto;
}

.logo img {
  display: block;
  width: 250px;
}

nav.icons {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.icon {
  color: var(--dark-blue);
  transition-property: scale;
  transition-duration: 0.5s;
  scale: 1;
}

.icon:hover {
  scale: 1.2;
}

.icons li {
  list-style: none;
}

nav.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0;
  margin: 0;
  background-color: var(--magenta);
  color: var(--white);
  font-family: var(--proxima-soft);
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}

.menu-link {
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

header {
  display: inline;
}

/* mobile menu */
.fa-bars {
  font-size: 1.875rem;
  padding: 1rem 0;
}

ul.mobile-menu {
  margin: 0 0 0 5%;
  padding: 0;
}

.mobile-menu label p {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

ul.large-screen-menu {
  display: none;
}

ul li {
  list-style: none;
}

#visit {
  margin-bottom: 20px;
}

.mobile-menu li {
  display: block;
  float: left;
  clear: left;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hamburger-label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

#menu {
  font-family: var(--proxima);
  display: inline-block;
  font-weight: bold;
  padding-left: 20px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu ~ li {
  display: none;
}

#hamburger-menu:checked ~ li {
  display: block;
}

@keyframes animate-dropdown {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.error-message {
  text-align: left;
  color: #be3e35;
}

.error-message:before {
  content: "\002A";
}

.error-message {
  visibility: hidden;
}

#success-message {
  visibility: hidden;
}

.fading-background_1,
.fading-background_2 {
  background-color: #00000099;
  position: absolute;
  z-index: 600;
  width: 100%;
  height: 4000px;
  display: none;
  top: 146px;
}

.fb-show {
  display: block;
  z-index: 50;
}

/* Main
--------------------*/

/* .main-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
} */

/* .bottom-section {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  padding-top: 40px;
} */

.newsletter-wrapper {
  width: 100%;
  background-image: url(../images/newsletter_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-top: 2rem;
  margin-bottom: 0;
  border-radius: 100px 0 0 0;
}

.blur {
  background-color: #ffffffe6;
  margin-bottom: 0;
  height: 200px;
  position: relative;
  top: 200px;
}

section.newsletter {
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.newsletter label {
  display: block;
  font-family: var(--sofia);
  font-size: 0.875rem;
  font-weight: 800;
  text-align: center;
  text-align: left;
  min-width: 328px;
  padding-top: 16px;
  margin: 0 auto;
}

form.newsletter {
  width: 100%;
  max-width: 600px;
  height: 40px;
  margin: 16px auto 32px auto;
  display: flex;
  justify-content: center;
}

#newsletter {
  font-family: var(--sofia);
  font-size: 1rem;
  width: 80%;
  height: 40px;
  border: 3px solid var(--dark-purple);
  padding-left: 1rem;
  flex: 2;
  outline: none;
}

#newsletter:focus {
  border-color: var(--magenta);
}

#sign-up {
  font-family: var(--sofia);
  font-size: 1rem;
  width: 20%;
  height: 40px;
  border: 3px solid var(--dark-purple);
  background-color: var(--dark-purple);
  color: #fff;
  flex: 1;
  cursor: pointer;
}

#newsletter-error {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.newsletter-success {
  width: 100%;
  font-size: 1.125rem;
  background-color: #034638bf;
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  color: white;
  display: none;
  margin-top: 1rem;
  padding: 5px;
}

.info-box {
  background-color: #7c68a640;
  color: var(--dark-purple);
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 5px;
}

.image-box, .image-box img {
  border-radius: 5px;
}

.info-box-heading {
  font-family: var(--proxima-soft);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

/* footer 
--------------------*/
footer {
  font-family: var(--sofia);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--teal);
  color: #fff;
  margin-top: 0;
}

.footer-container {
  margin-left: 5%;
  margin-top: 0;
}

.footer-container ul {
  margin-top: 0;
}

.footer-container ul li {
  list-style: none;
}

.footer-container p {
  margin: 0;
}

.connect span {
  font-size: 2rem;
}

ul.connect {
  display: flex;
  width: 90%;
  margin-left: 0;
  padding-left: 0;
}

ul.connect span {
  margin-right: 32px;
}
.hours-wrapper {
  display: flex;
}

.fa-map-marker-alt {
  font-size: 2rem;
  margin-top: 16px;
  margin-right: 16px;
}

.location span {
  display: flex;
}
.location {
  display: flex;
}

.location p {
  text-decoration: underline;
  margin-top: 16px;
}

.hours,
.contact {
  display: block;
  margin-left: 0;
  padding: 0;
}

.contact a {
  display: block;
  text-decoration: underline;
  margin-bottom: 5px;
}

h6 {
  font-family: var(--proxima);
  font-weight: bold;
  font-size: 1.125rem;
  margin: 32px 0 8px 0;
}

#copyright {
  font-family: var(--neue-haas);
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

#copyright::before {
  content: "\00A9";
  padding-right: 5px;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Header
--------------------*/
  .search-dropdown,
  .ticket-dropdown,
  .profile-dropdown {
    width: 70%;
    left: 15%;
  }
  /* Main
--------------------*/
  section.newsletter {
    width: 70%;
  }

  #newsletter {
    font-size: 1.125rem;
    height: 45px;
  }

  #sign-up {
    font-size: 1.25rem;
    height: 45px;
    border-radius: 0 25px 25px 0;
  }
}

@media only screen and (min-width: 768px) {
  /* Header
--------------------*/
  .logo {
    margin-top: 0;
    margin-left: 0;
  }

  .header-wrapper {
    width: 85%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav.icons {
    justify-content: flex-end;
  }

  .dropdown-wrapper {
    position: relative;
  }

  .fading-background_1,
  .fading-background_2 {
    top: 74px;
  }

  .dropdown-wrapper {
    margin-left: 3rem;
  }

  .search-dropdown {
    top: 59px;
    right: 50%;
    left: auto;
    min-width: 400px;
  }

  .ticket-dropdown {
    top: 59px;
    right: 50%;
    left: auto;
    min-width: 400px;
  }

  .profile-dropdown {
    top: 59px;
    right: 50%;
    left: auto;
    min-width: 400px;
  }

  section.newsletter {
    width: 50%;
  }
  /* Main
--------------------*/
  .newsletter-wrapper {
    background-image: url(../images/newsletter.jpg);
    height: 650px;
    border-radius: 0 200px 0 0;
  }

  .blur {
    top: 450px;
  }
  /* Footer
--------------------*/
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .fi1 {
    order: 1;
  }

  .fi2 {
    order: 3;
  }

  .fi3 {
    order: 2;
  }

  .fi4 {
    order: 4;
  }

  .footer-container {
    width: 300px;
  }
}

@media only screen and (min-width: 992px) {

  /* new code */
  .section-container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

  /* Header
--------------------*/
  .logo {
    width: 300px;
    /* margin-left: 5%; */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .logo img {
    width: 300px;
  }

  .fading-background_1,
  .fading-background_2 {
    top: 97px;
  }

  .search-dropdown {
    top: 70px;
  }

  .ticket-dropdown {
    top: 70px;
  }

  .profile-dropdown {
    top: 70px;
  }

  .main-wrapper {
    width: 90%;
  }

  /* Footer
--------------------*/
  .footer-wrapper {
    font-size: 1.125rem;
  }

  .footer-container {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {

  /* new code */
  .main-heading {
      font-size: 2.5rem;
      text-align: center;
    }

  .get-in-touch {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
  
    .get-in-touch p {
      font-size: 1.5rem;
    }

  /* Header
--------------------*/
  nav.menu {
    height: 60px;
    align-items: center;
    margin: 0 auto;
  }

  .fading-background_1,
  .fading-background_2 {
    border-radius: 0 60px 0 0;
  }

  ul.mobile-menu {
    display: none;
  }

  ul.large-screen-menu {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    gap: 4rem;
    margin: 0 auto;
    padding: 0;
  }

  /* .large-screen li {
    position: relative;
  } */

  /* .link-box1,
  .link-box2,
  .link-box3,
  .link-box4 {
    display: block;
    text-align: center;
    width: 270px;
    padding: 16.5px;
    margin: 0;
    border-radius: 70px 0 70px 0;
    position: relative;
    text-decoration: underline;
  } */

  .inactive {
    text-decoration: none;
  }

  .purple-box {
    text-decoration: underline;
  }

  .dropdown-info {
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    width: 270px;
    background-color: #fff;
    color: #000;
    position: absolute;
    left: 0;
    border-bottom: 8px solid var(--dark-blue);
    border-radius: 0 0 70px 0;
    box-shadow: 6px 6px 12px 12px #00000029;
    display: none;
    animation-name: animate-dropdown;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
  }

  .show-info {
    display: block;
    z-index: 1000;
  }

  .dropdown-list {
    margin-left: 0;
    padding-left: 25px;
  }

  .dropdown-list li {
    list-style: disc;
    padding-bottom: 10px;
    font-family: var(--proxima-soft);
    font-size: 1.25rem;
  }

  .dropdown-list li:last-child {
    list-style: disc;
    padding-bottom: 20px;
  }

  p.header {
    font-size: 1.125rem;
    margin-top: 1rem;
  }

  .dropdown-info {
    font-family: var(--neue-haas);
  }

  hr {
    color: var(--dark-purple);
    opacity: 0.3;
    margin-bottom: 1rem;
    padding: 0;
  }

  /* Main
--------------------*/
  .newsletter-wrapper {
    margin: 4rem auto 0 auto;
  }

  section.newsletter {
    width: 100%;
  }

  .blur {
    height: 250px;
    top: 400px;
  }

  .newsletter label {
    font-size: 1.25rem;
    margin-top: 64px;
  }

  form.newsletter {
    height: 50px;
  }

  #newsletter {
    font-size: 1.25rem;
    height: 50px;
    padding-left: 20px;
    flex: 3;
  }

  #sign-up {
    font-family: var(--sofia);
    font-size: 1.375rem;
    height: 50px;
    transition-property: background-color;
    transition-duration: 0.5s;
  }

  #sign-up:hover {
    background-color: #210759d9;
  }

  #newsletter-error {
    position: absolute;
    bottom: -30px;
  }
  /* Footer
--------------------*/
  .footer-wrapper {
    font-size: 1.125rem;
    flex-wrap: nowrap;
  }

  .footer-container {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  ul.connect {
    flex-direction: column;
  }

  .connect li {
    padding: 8px;
  }
}

@media only screen and (min-width: 1800px) {
  /* Header
--------------------*/
  .link-box1,
  .link-box2,
  .link-box3,
  .link-box4 {
    width: 320px;
  }
  .dropdown-info {
    width: 320px;
  }
}
