/* global styles
--------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg);
  color: var(--dark-text-col);
  font-family: var(--body-text);
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

.flex-wrapper {
  flex: 1 0 auto;
}

main {
  background-color: var(--body-bg);
}

/* hr {
  width: 100%;
} */

.fa {
  color: var(--light-text-col);
  font-size: 2.5rem;
  display: inline-block;
}

figure {
  display: block;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

/* header 
--------------------*/
.modal {
  position: absolute;
  width: 95%;
  max-width: 400px;
  top: 0.5rem;
  right: 2.5%;
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg);
  color: #000;
  border-radius: 3px;
  display: none;
  z-index: 1000;
  animation-name: animate-modal;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes animate-modal {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

@keyframes animate-backdrop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-header {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right, #C33764 0%, #1D2671 100%);
  /* background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 100%); */
  color: #fff;
  font-family: var(--main-heading);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding: 0.75rem;
  border-radius: 3px 3px 0 0;
}

.modal-body {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* form {
  width: 85%;
  margin: 0 auto;
} */

.modal-text {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.modal-text a {
  color: var(--dark-purple);
  text-decoration: underline;
}

#modal-button {
  margin-top: 1rem;
  width: 100%;
}

.close-icon {
  position: absolute;
  font-size: 1.25rem;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  color: #fff;
  opacity: 0.75;
}

label {
  font-size: 1rem;
}

input, select, textarea {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #172940;
  border-radius: 0;
  border: 3px solid #0030574d;
  padding: 0.5rem;
  margin: 0 auto;
  transition-property: border;
  transition-duration: 0.3s;
  font-family: var(--body-text);
}

input:focus {
  outline: none;
  border: 3px solid var(--input-focus-col);
}

textarea {
  font-family: var(--body-text);
  padding: 0.75rem;
  height: 250px;
}

header {
  display: inline;
}

.header-wrapper {
  width: 90%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.75rem 0;
  gap: 0.5rem;
}

.header-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem 1.5rem;
  align-self: flex-end;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-text {
  font-family: var(--logo-text);
  font-weight: bold;
  font-size: 2rem;
  color: var(--dark-blue);
}

/* .header-search-form {
  display: flex;
}

.header-search-form input {
  padding: 0.5rem;
  font-size: 1.125rem;
} */

/* .header-search-button {
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  padding: 0.75rem;
  background-color: var(--dark-blue);
} */

.time-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#header-time-icon {
  color: var(--dark-blue);
  font-size: 1.25rem;
}

#header-time-text {
  color: var(--dark-blue);
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  width: 3rem;
  margin: 0;
  padding: 0;
}

.logo img {
  display: block;
  width: 3rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, #C33764 0%, #1D2671 100%);
  /* background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 100%); */
  color: var(--content-bg);
  font-family: var(--link-text);
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  box-shadow: 0 6px 12px #00000029;
}

.menu-link {
  text-decoration: none;
  font-size: 1.25rem;
  outline: none;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}

.menu-link::after {
  position: relative;
  content: "";
  display: block;
  border-bottom: 2px solid var(--light-text-col);
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
  top: -2px;
}

.menu-link:hover {
  color: var(--dark-light-col);
}

.menu-link:hover::after {
  transform: scaleX(1);
}

.menu-link-active {
  /* border-bottom: 2px solid var(--light-text-col); */
  text-shadow: 0 2px 10px #fff
}

.mobile-menu {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
}

.mobile-menu-list {
  padding: 0;
  margin: 0;  
}

.navbar-menu {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   width: 90%;
   margin: 0 auto;
   padding: 1rem 0;
 }

 .navbar-menu-list {
   display: none;
   justify-content: flex-start;
   gap: 3rem;
   margin: 0;
   padding: 0;
 }

 .navbar-icon-wrapper {
  display: flex;
  gap: 2rem;
 }

 .nav-icons-wrapper {
   display: flex;
   justify-content: space-around;
   margin: 1rem 0;
 }

 #ticket-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-family: var(--button-text);
  border: none;
  cursor: pointer;
  transition: 0.5s;
  justify-self: flex-end;
 }

 .ticket-icon {
  font-size: 1.75rem;
 }

 .ticket-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }

 .navbar-icon {
   font-size: 2rem;
   cursor: pointer;
   color: #fff;
   transition-property: scale;
   transition-duration: 0.5s;
   scale: 1;
 }

 .navbar-icon:hover {
   scale: 1.2;
 }

 .menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
 }

ul li {
  list-style: none;
}

.mobile-menu-list li {
  display: block;
  font-size: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mobile-menu-list li:first-of-type {
 padding-top: 1rem;
}

.hamburger-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

#menu:hover {
  text-decoration: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu ~ li {
  display: none;
}

#hamburger-menu:checked ~ li {
  display: block;
}

.error-message {
  text-align: left;
  color: #fb655a;
}

.error-message:before {
  content: "\002A";
}

.error-message {
  display: none;
}

/* #success-message {
  visibility: hidden;
} */

.fading-background {
  height: 100%;
  background-color: #00000099;
  position: fixed;
  top: 0;
  z-index: 60;
  width: 100%;
  display: none;
  animation-name: animate-backdrop;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  /* top: 130px; */
}

.fb-show {
  display: block;
  z-index: 50;
}

/* Main
--------------------*/
/* new code */
.main-wrapper {
  width: 100%;
  background-color: var(--main-bg);
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  color: var(--dark-text-col);
  margin-bottom: 2.5rem;
  /* padding-right: 5%; */
}

.main-heading-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(235,236,242,1) 0%, rgba(255,255,255,1) 100%); 
}

.main-heading-left {
  width: 0.75rem;
  background-color: #C33764;
  flex-shrink: 0;
  margin: -1rem 0 -1rem 0;
}

.main-heading {
  font-family: var(--main-heading);
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.main-heading-lead {
  font-family: var(--main-sub-heading);
  font-size: 1.125rem;
  font-weight: 600;
  /* font-style: italic; */
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  color: #C33764;
}

/* .heading-divider {
  width: 100%;
  height: 1px;
  color: #C33764;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  display: none;
} */

.cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,236,242,1) 100%);
}

.cta-wrapper p {
  font-family: var(--main-sub-heading);
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #02AAB0;
}

.button {
  cursor: pointer;
  font-family: var(--button-text);
  font-size: 1.125rem;
  display: inline-block;
  /* align-self: center; */
  text-align: center;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
  background-size: 200% auto;
  color: var(--light-text-col);
  padding: 0.5rem 2rem;
  margin: 0;
  box-shadow: 0 6px 12px #00000029;
  transition: 0.5s;
}

.button:hover {
  background-position: right center;
  box-shadow: none;
}


.newsletter-wrapper {
  width: 100%;
  background-color: var(--dark-bg);
}

/* .blur {
  position: absolute;
  margin: 0 auto;
  background-color: #ffffff80;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
} */

.newsletter-section {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 0 4rem 0;
}

.newsletter-form {
  position: relative;
  width: 100%;
}

.form-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

#newsletter-input {
  flex: 3;
  font-size: 1rem;
  /* border: 3px solid #0030574d; */
  border-radius: 0 7px 7px 0;
  padding: 0.75rem 1rem;
  /* outline: none; */
}

.newsletter-label {
  font-weight: bold;
  color: var(--text-highlight-col);
}

/* #newsletter-input:focus {
  border-color: #02AAB0;
} */

#sign-up-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  flex: 1;
  border-radius: 0 5px 5px 0;
  padding: 0.5rem 1rem;
}

#newsletter-error {
  position: absolute;
  top: 2.5rem;
}

.newsletter-success {
  width: 100%;
  font-size: 1.125rem;
  background-color: var(--success-color);
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  color: var(--light-text-col);
  display: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.info-box {
  /* background-color: var(--info-box-bg); */
  color: var(--dark-text-col);
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(235,236,242,1) 100%);
  padding: 1rem 5%;
}

.info-box-heading {
  font-family: var(--secondary-heading);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

/* .info-box p {
  font-size: 1rem;
  color: var(--dark);
} */

.gallery-section {
  width: 100%;
  margin: 0 auto;
}

.gallery-wrapper figure,
.gallery-wrapper img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.gallery-quote {
  font-size: 1.125rem;
  font-style: italic;
  background-color: #252525;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0 50px 0 0;
}

/* footer 
--------------------*/
footer {
  flex-shrink: 0;
  background-color: var(--footer-bg);
  
}

.footer-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

.footer-container ul {
  margin-top: 0;
}

.footer-wrapper div p {
  margin: 0;
}

.footer-heading {
  font-family: var(--main-heading);
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0;
  padding: 0 0 0.5rem 0;
  color: var(--light-text-col);
}

.footer-icon-list {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0; 
}

.footer-hours-wrapper {
  display: flex;
  gap: 3rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
  
}

.footer-links-list li {
  list-style: disc;
  padding: 0;
  margin: 0 0 0 1rem;
  color: inherit;
}

.footer-links-list a {
  text-decoration: underline;
}

.footer-icon {
  font-size: 2rem;
}

.footer-location-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

#location-link {
  text-decoration: underline;
}

.copyright-container {
  background-color: var(--dark-bg);
  color: var(--light-text-col);
}

#copyright {
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0.75rem 0;
}

#copyright::before {
  content: "\00A9";
  padding-right: 5px;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Header
--------------------*/
  .modal {
    right: 0.5rem;
  }

  /* Main
--------------------*/

  #newsletter {
    font-size: 1.125rem;
  }

  #sign-up {
    font-size: 1.25rem;
  }

  .gallery-quote {
    font-size: 1.5rem;
    text-align: center;
  }
  
  /* .gallery-wrapper {
    gap: 2rem;
  } */
}

@media only screen and (min-width: 768px) {
  /* Header
--------------------*/
  .logo {
    margin-top: 0;
    margin-left: 0;
  }

  .header-wrapper {
    width: 85%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-content-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .navbar-menu {
    width: 85%;
  }

  .nav-icons-wrapper {
    justify-content: flex-end;
  }

  /* Main
--------------------*/
.info-box {
  border-radius: 5px;
}

.image-box, .image-box img {
  border-radius: 5px;
}

  /* Footer
--------------------*/
}

@media only screen and (min-width: 992px) {

  /* Header
  --------------------*/

  .navbar-icon {
      font-size: 2.5rem;
    }

  #header-time-icon {
    font-size: 1.375rem;
  }
  
  #header-time-text { 
    font-size: 1rem;
  }

  /* Main
--------------------*/
  .main-wrapper {
    width: 90%;
    padding-top: 3rem;
  }

  .header {
    width: 90%;
    margin: 0 auto 2rem auto;
  }

  .main-sub-heading {
    font-size: 1.25rem;
  }

  .section-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .button {
    font-size: 1.25rem;
  }

  .cta-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .cta-wrapper p {
    font-size: 1.25rem;
  }

  /* Footer
--------------------*/
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {


  /* Header
--------------------*/
  .navbar-menu {
    align-items: center;
    padding: 0.75rem 0;
  }

  .navbar-menu-list {
    display: flex;
  }

  .header-time-wrapper {
    align-self: center;
  }

  .menu-link {
    font-size: 1.375rem;
  }

  .mobile-menu-list {
    display: none;
  }

  .inactive {
    text-decoration: none;
  }

  /* Main
--------------------*/
  .main-wrapper {
    width: 85%;
  }

  .content-container {
    gap: 5rem;
  }

  .main-heading {
    font-size: 2.5rem;
    /* text-align: center; */
  }

  .main-heading-lead {
    font-size: 1.25rem;
  }

  .info-box {
    padding: 1.5rem;
  }

  .info-box-heading {
    font-size: 1.375rem;

  }

  .info-box p {
    font-size: 1.125rem;
  }

  .newsletter-label {
    font-size: 1.25rem;
  }

  /* Footer
--------------------*/
  .footer-wrapper {
    width: 85%;
    font-size: 1.125rem;
  }

  .footer-icon-list {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  .main-wrapper {
    width: 80%;
  }
}