@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/
/* main {
  background-color: white;
} */
.news-section {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
}

/* carousel */
.wrapper {
  position: relative;
  padding: 2rem 0 4rem 0;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  border-left: 2px solid var(--dark-purple);
  border-right: 4px solid var(--dark-purple);
  border-top: 2px solid var(--dark-purple);
  border-bottom: 8px solid var(--dark-purple);
}

.carousel {
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 300%;
  transition: all 0.3s;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide-image {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.slide-body {
  padding: 1.5rem 1rem
}

.controls {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #21075999;
  padding: 0 8px;
}

#left {
  border-radius: 0 5px 5px 0;
  left: 0;
}

#right {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.preview {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  bottom: 0;
  cursor: pointer;
  gap: 2rem;
}

.preview-image {
  display: block;
  width: 50px;
  height: 33.5px;
  opacity: 0.7;
  transition: all 0.3s;
  border-left: 1px solid var(--dark-purple);
  border-right: 3px solid var(--dark-purple);
  border-top: 1px solid var(--dark-purple);
  border-bottom: 3px solid var(--dark-purple);
  border-radius: 5px;
}

.selected {
  transform: scale(1.2);
  opacity: 1;
}

figure {
  margin: 0;
  padding: 0;
}


.hero-container {
  position: relative;
  width: 100%;
  height: 1000px;
  color: var(--white);
  background-image: url(../images/robot-main_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-content {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3rem;
  font-family: var(--sofia);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: pink; */
}

.hero-heading {
  font-family: var(--proxima);
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.hero-sub-heading {
  font-weight: 500;
  font-family: var(--main-heading);
  margin: 1rem 0 0 0;
  padding: 0; 
  font-style: italic;
}

/* .hero-sub-heading::before {
  content: "“";
  font-size: 3rem;
  padding-right: 5px;
} */

.hero-button {
  align-self: start;
  font-size: 1.25rem;
}

.speech-bubble {
  position: absolute;
  width: 300px;
  margin: 0 auto;
  right: 10%;
  top: 60%;
  font-family: var(--proxima);
  /* transform: translate(-50%, -50%); */
  padding: 1.5rem;
  z-index: 1;
  font-size: 1.125rem;
  background-color: var(--white);
  color: var(--dark-purple);
  border-radius: 25px;
  transition-property: all;
  transition-duration: 0.5s;
  box-shadow: 0 6px 12px #00000040;
  scale: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.speech-bubble:hover {
  transform-origin: center;
  transform: scale(1.1);
}

.speech-bubble span {
  display: inline-block;
}

.speech-bubble-caption {
  margin: 0;
  padding: 0;
}

.speech-bubble-caption::before {
  content: "“";
  font-size: 2rem;
  padding-right: 2px;
}

.speech-bubble-icon {
  align-self: flex-end;
}

.speech-bubble-arrow {
  position: absolute;
  top: -35px;
  right: 10%;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #fff;
}

.speech-bubble span {
  color: var(--dark-purple);
}

.categories-section {
  background-color: #252525;
  color: var(--white);
  padding: 2rem 0;
}

.categories-wrapper {
  width: 95%;
  font-family: var(--proxima-soft);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.categories-heading {
  width: 90%;
  font-family: var(--main-heading);
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.category-box {
  color: var(--white);
  text-align: center;
  border-radius: 15px;
  padding: 2rem 1rem;
}

.category-box a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 100%;
  text-align: center;
}

.category-box-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.category-planet-icon {
  width: 3rem;
  margin: 0 auto;
}

.category-icon {
  font-size: 2.5rem;
}

.category-box figcaption {
  font-size: 1.125rem;
  font-weight: bold;
}

#cosmology {
  background-color: #470c68;
  transition-property: background-color scale;
  transition-duration: 0.5s;
  scale: 1;
}

#cosmology:hover {
  background-color: #470c68a6;
  scale: 1.05;
}

#evolution {
  background-color: #007298;
  transition-property: background-color scale;
  transition-duration: 0.5s;
  scale: 1;
}

#evolution:hover {
  background-color: #007298a6;
  scale: 1.05;
}

#biology {
  background-color: #034638;
  transition-property: background-color scale;
  transition-duration: 0.5s;
  scale: 1;
}

#biology:hover {
  background-color: #034638a6;
  scale: 1.05;
}

#robotics {
  background-color: #dc4405;
  transition-property: background-color scale;
  transition-duration: 0.5s;
  scale: 1;
}

#robotics:hover {
  background-color: #dc4405a6;
  scale: 1.05;
}

#ecology {
  background-color: #a20067;
  transition-property: background-color scale;
  transition-duration: 0.5s;
  scale: 1;
}

#ecology:hover {
  background-color: #a20067a6;
  scale: 1.05;
}

#events {
  background-color: #003057;
  transition-property: background-color scale;
  transition-duration: 0.5s;
  scale: 1;
}

#events:hover {
  background-color: #003057a6;
  scale: 1.05;
}

.info-container {
  width: 95%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.info-heading {
  font-weight: bold;
  font-size: 1.125rem;
}

.info-list {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}

.info-list li {
  list-style-type: disc;
  padding-top: 0.375rem;
  margin-left: 2.5rem;
}

#news-anchor {
  position: relative;
  top: -80px;
  visibility: hidden;
}

.slide-heading {
  font-family: var(--proxima);
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

div.circle-wrapper {
  display: flex;
  justify-content: center;
}

.circle-wrapper div {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid var(--dark-blue);
  background-color: #fff;
}

div.selected {
  background-color: var(--dark-blue);
}

.clubs-section {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.clubs-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.clubs {
  display: block;
  position: relative;
  transition-property: opacity scale;
  transition-duration: 0.5s;
  opacity: 1;
}

.clubs:hover {
  opacity: 0.7;
}

.clubs img {
  width: 100%;
  border-top: 2px solid var(--dark);
  border-left: 2px solid var(--dark);
  border-right: 4px solid var(--dark);
  border-bottom: 8px solid var(--dark);
  border-radius: 15px;
  position: relative;
  transition: all;
  transition-duration: 0.5s;
}

.clubs-caption {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: var(--proxima);
  font-size: 1.25rem;
  color: var(--dark);
  font-weight: bold;
  text-align: center;
  background-color: #ffffffbf;
  padding: 0.75rem;
  border-left: 2px solid var(--dark);
  border-right: 4px solid var(--dark);
  border-bottom: 8px solid var(--dark);
  border-radius: 0 0 15px 15px;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Main
--------------------*/
  /* .container {
    width: 500px;
  }

  .slider {
    width: 1500px;
  } */

  .controls,
  .controls figure {
    top: 30%;
  }

  /* #right {
    left: 463px;
  } */

  /* .preview {
    bottom: 615px;
  } */

  .hero-container {
    background-image: url(../images/robot-main_tablet.jpg);
  }

  .hero-heading {
    font-size: 2.75rem;
  }

  .hero-sub-heading {
    font-size: 1.5rem;
  }

  .slide-heading {
    font-size: 1.25rem;
  }

  .categories-wrapper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .clubs-caption {
    font-size: 1.375rem;
  } 
}

@media only screen and (min-width: 768px) {
  /* Main
--------------------*/
  /* .container {
    width: 600px;
  }

  .slider {
    width: 1800px;
  } */

  .controls,
  .controls figure {
    top: 35%;
  }
  
  /* #right {
    left: 563px;
  } */

  /* .preview {
    bottom: 655px;
  } */

  .hero-container {
    background-image: url(../images/robot-main_medium.jpg);
  }

  .speech-bubble-arrow {
    left: 10%;
  }

  .categories-wrapper {
    gap: 1.5rem;
  }

  .category-box {
    padding: 2rem;
  }

  .category-planet-icon {
    font-size: 3.5rem;
  }

  .category-icon {
    font-size: 3rem;
  }

  .category-caption {
    font-size: 1.25rem;
  }

  .slide-heading {
    font-size: 1.5rem;
  }

  .clubs-wrapper {
    flex-direction: row;
    gap: 2rem;
  }

  
}

@media only screen and (min-width: 992px) {

  /* Main
--------------------*/
  .hero-content {
    width: 50%;
    margin-left: 10%;
    padding-top: 4rem;
    font-family: var(--sofia);
  }

  /* carousel */

  /* .container {
    width: 800px;
  }

  .slider {
    width: 2400px;
  } */

  .slide {
    flex-direction: row;
    gap: 1rem;
  }

  .slide-image {
    flex: 1;
    /* height: 380px; */
    border-radius: 15px 0 0 15px;
  }

  .slide-body {
    flex: 1;
  }

  .controls,
  .controls figure {
    top: 50%;
  }

  /* #right {
    left: 763px;
  } */

  /* .preview {
    bottom: -90px;
  } */

  .preview-image {
    width: 75px;
    height: 50.25px;
  }

  .hero-container {
    background-image: url(../images/robot-main_large.jpg);
  }
  
  .hero-heading {
    font-size: 3.5rem;
  }

  .hero-sub-heading {
    font-size: 2rem;
  }

  .category-box-content {
    gap: 1.5rem;
  }

  div.circle-wrapper {
    display: none;
  }

  .news-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  figure.news {
    flex: 2;
    height: auto;
    margin: 0;
  }

  figure.news img {
    height: auto;
    width: 100%;
    border-radius: 25px 0 0 25px;
    border-top: 4px solid var(--dark-blue);
    border-left: 4px solid var(--dark-blue);
    border-right: none;
    border-bottom: 12px solid var(--dark-blue);
  }

  #large-text p {
    font-size: 1.125rem;
  }

  img.mobile {
    display: none;
  }

  img.large-screen {
    display: none;
  }

  img.medium {
    display: block;
  }

  .clubs-section {
    width: 100%;
    padding-top: 50px;
  }

  .clubs-wrapper {
    gap: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/
  /* carousel */
  /* .container {
    width: 900px;
  }

  .slider {
    width: 2700px;
  }

  .slide-image {
    width: 500px;
    height: 100%;
  } */

  /* #right {
    left: 863px;
  } */

  .hero-heading {
    font-size: 4.25rem;
  }

  .hero-button {
    font-size: 1.375rem;
  }

  .speech-bubble {
    right: 15%;
  }

  .categories-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem
  }

  .category-planet-icon {
    width: 4rem;
  }

  .category-icon {
    font-size: 3.5rem;
  }

  .category-caption {
    font-size: 1.35rem;
  }

  .info-container {
    font-size: 1.125rem;
  }

  .info-heading {
    font-size: 1.25rem;
  }

  img.large-screen {
    display: block;
    width: 100px;
  }

  img.medium {
    display: none;
  }

  figure.news {
    flex: 2;
  }

  div.news {
    flex: 1;
    padding: 16px 32px;
  }

  #large-text p {
    font-size: 1.25rem;
  }

  .clubs-caption {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1300px) {
  div.news p {
    font-size: 1.125rem;
  }

  .categories-wrapper {
    gap: 1.5rem
  }
}

@media only screen and (min-width: 1600px) {
  /* Main
--------------------*/
  .hero-container {
    background-image: url(../images/robot-main_extralarge.jpg);
  }

  .speech-bubble {
     right: 25%;
  }
  
  .category-planet-icon {
    width: 4.5rem;
  }

  .category-icon {
    font-size: 4rem;
  }

  .category-caption {
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  /* carousel */
  /* .container {
    width: 1080px;
  }

  .slider {
    width: 3240px;
  }

  .slide-image {
    width: 720px;
    height: 100%;
  } */

  /* #right {
    left: 1043px;
  } */
}
