:root {
  --magenta: #a20067;
  --dark-purple: #210759;
  --purple: #470c68;
  --light-purple: #7c68a6;
  --dark-blue: #003057;
  --dark-green: #034638;
  --blue: #007298;
  --orange: #dc4405;
  --teal: #3d6a6b;
  --light-grey: #f2f2f2;
  --white: #ffffff;
  --sofia: "sofia pro", "helvetica", "arial", "sans-serif";
  --proxima: "proxima nova", "open sans", "corbel", "arial", "sans-serif";
  --proxima-soft: "proxima soft", "helvetica", "arial", "sans-serif";
  --neue-haas: "neue haas unica W1G", "helvetica", "arial", "sans-serif";
  --center-align: 0 auto 0 auto;
}
