:root {
  --magenta: #a20067;
  --button-color: #a20067;
  --navbar-color: #05778b;
  --dark-purple: #210759;
  --heading-bg: #252525;
  --purple: #470c68;
  --light-purple: #7c68a6;
  --dark: #252525;
  --dark-blue: #003057;
  --dark-green: #034638;
  --blue: #007298;
  --orange: #dc4405;
  --teal: #3d6a6b;
  --light-grey: #e8e8e8;
  --main-bg: #FFFFFB;
  --white: #ffffff;
  --sofia: "sofia-pro", "helvetica", "arial", "sans-serif";
  --proxima: "proxima-nova", "open sans", "corbel", "arial", "sans-serif";
  --proxima-soft: "proxima-soft", "helvetica", "arial", "sans-serif";
  /* --neue-haas: "open sans", "helvetica", "arial", "sans-serif"; */
  --center-align: 0 auto 0 auto;
  --body-text: "sofia-pro", "helvetica", "arial", "sans-serif";
  --main-heading: "proxima-nova", "helvetica", "arial", "sans-serif";
  --main-sub-heading: "proxima-soft",
    serif;
  --button-text: "proxima-soft", "helvetica", "arial", "sans-serif";
}
