@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/
.main-wrapper {
  width: 100%;
  margin: 0 auto;
}
section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h1.large-screen {
  display: none;
}
h1 {
  font-family: var(--proxima);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  background-color: var(--dark-purple);
  color: #fff;
  padding: 12px 5%;
  margin: 8px 0 16px 0;
}
h4 {
  font-size: 1.25rem;
  font-weight: 800;
  font-family: var(--proxima);
  color: var(--dark-purple);
  margin: 8px 5% 32px 5%;
  text-transform: capitalize;
}
h2,
h3 {
  margin-left: 5%;
  font-family: var(--proxima);
  font-size: 1.5rem;
  padding-top: 16px;
  margin-top: 0;
}
div.info {
  width: 100%;
  background-color: var(--light-grey);
  margin-bottom: 16px;
  padding-bottom: 16px;
}
#map {
  padding-bottom: 0;
}
p > a {
  color: var(--dark-purple);
  font-weight: bold;
  text-decoration: underline;
}
#street {
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0;
}
#postal {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 32px;
}
iframe {
  width: 100%;
  border: 6px solid grey;
}
div.facilities {
  font-size: 1.125rem;
  width: 100%;
  height: 250px;
  color: #fff;
  margin-bottom: 16px;
  margin-top: 0;
}
div.info p,
div.facilities p {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 16px;
}
.hours-wrapper_2 {
  display: flex;
  justify-content: flex-start;
}
.hours-wrapper_2 ul {
  font-size: 1.25rem;
  padding: 0;
  margin: 0 0 0 5%;
}
.hours-wrapper_2 li {
  font-family: var(--sofia);
  list-style: none;
}
#facilities {
  position: relative;
  top: -80px;
  visibility: hidden;
}
figure.facilities {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.item-1 {
  background-image: url(../images/handicap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.item-3 {
  background-image: url(../images/cafe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.item-5 {
  background-image: url(../images/shop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#accessibility {
  background-color: #8c2639;
}
#food-drink {
  background-color: var(--dark-green);
}
#shop {
  background-color: var(--blue);
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* Main
--------------------*/
  section {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  /* Main
--------------------*/
  section.info {
    width: 90%;
  }
  section.facilities {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  section > .facilities {
    height: 325px;
    margin: 0;
  }
  .facilities img {
    height: 325px;
  }
  .item-1 {
    flex: 30%;
    order: 1;
  }
  .item-2 {
    flex: 30%;
    order: 4;
  }
  .item-3 {
    flex: 30%;
    order: 5;
  }
  .item-4 {
    flex: 30%;
    order: 2;
  }
  .item-5 {
    flex: 30%;
    order: 3;
  }
  .item-6 {
    flex: 30%;
    order: 6;
  }
  #location {
    margin-left: 32px;
  }
  iframe {
    width: 50%;
    margin-right: 5%;
  }
  #map {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  /* Main
--------------------*/
  .logo {
    width: 350px;
  }
  .logo img {
    width: 350px;
  }
  section.info {
    flex-direction: row;
    gap: 16px;
  }
  #map {
    flex-direction: column;
    justify-content: flex-start;
  }
  #location {
    margin-left: 0;
  }
  iframe {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/
  main {
    background-color: var(--light-grey);
  }
  .main-wrapper {
    width: 85%;
    background-color: white;
    padding-top: 50px;
  }
  h1.mobile {
    display: none;
  }
  h4 {
    display: none;
  }
  h1.large-screen {
    width: 90%;
    display: block;
    margin: 0 auto 16px auto;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
  section.info {
    font-size: 1.125rem;
  }
  section.facilities {
    font-size: 1.125rem;
  }
  h2,
  h3 {
    font-size: 1.5rem;
  }
  .facilities p {
    font-size: 1.25rem;
  }
  .hours-wrapper_2 li {
    font-size: 1.5rem;
  }
  #street,
  #postal {
    font-size: 1.25rem;
  }
  .item-1 {
    background-image: url(../images/handicap_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item-3 {
    background-image: url(../images/cafe_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item-5 {
    background-image: url(../images/shop_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bottom-section {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1600px) {
  div.facilities {
    height: 350px;
  }
  figure.facilities {
    height: 350px;
  }
}
