@import "variables.css";
@import "in_common.css";

/* main 
--------------------*/

.info-list {
  padding-left: 1rem;
}

.info-list li {
  list-style: disc;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.info-list a {
  color: var(--dark-purple);
  font-weight: bold;
  text-decoration: underline;
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 0;
}

.location-wrapper p {
  margin: 0;
  padding: 0;
}

#street, #postal {
  font-weight: bold;
}

iframe {
  width: 100%;
  border: none;
  border-radius: 3px;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
}

table {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border-collapse: collapse;
    border-spacing: 0;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  
}

tr {
  height: 2rem;
}

tr.even {
  background-color: #05778b30;
}

#item-1 {
  grid-area: admission;
}

#item-2 {
  grid-area: location;
}

#item-3 {
  grid-area: hours;
}

.info-grid {
  display: grid;
  gap: 1rem;
  padding-bottom: 3rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "admission"
    "hours"
    "location";
}

.item-1 {
  grid-area: accessability;
}

.item-2 {
  grid-area: food;
}

.item-3 {
  grid-area: shop;
}

.facilities-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
      "accessability"
      "food"
      "shop";
}

.facilities-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facilities-container div:first-of-type {
  padding: 1.5rem 5%;
}

.facilities-heading {
  color: var(--white);
}

.facility-img {
  height: 300px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#accessibility-img {
  background-image: url(../images/handicap.jpg);
}

#food-img {
  background-image: url(../images/cafe.jpg);
}

#shop-img {
  background-image: url(../images/shop_large.jpg);
}

#accessibility {
  background-color: #8c2639;
  color: white;
}

#food-drink {
  background-color: var(--dark-green);
  color: white;
}

#shop {
  background-color: var(--blue);
  color: white;
}

@media only screen and (min-width: 768px) {
  /* Main
--------------------*/
.info-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "admission admission"
    "location hours";
  }

.info-grid {
  width: 90%;
  margin: 0 auto;
}

.facilities-container {
  flex-direction: row;
  border-radius: 5px;
}

.item-2 {
  flex-direction: row-reverse;
}

#accessibility-img {
  border-radius: 0 5px 5px 0;
}

#food-img {
  border-radius: 5px 0 0 5px;
}

#shop-img {
  border-radius: 0 5px 5px 0;
}

/* .facility-img {
  height: auto;
} */

.facilities-container > div {
  width: 50%;
}

.facilities-grid {
  width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
  /* Main
--------------------*/
.info-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "admission admission location"
    "hours hours hours";
  }

  .facilities-grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "accessability food shop";
    }

    .facilities-container {
      flex-direction: column;
    }

    .item-2 {
      flex-direction: column-reverse;
    }

    #accessibility-img {
      border-radius: 0 0 5px 5px;
    }
    
    #food-img {
      border-radius: 5px 5px 0 0;
    }
    
    #shop-img {
      border-radius: 0 0 5px 5px;
    }

    .facilities-container > div {
      width: 100%;
    }

    .table-wrapper {
      flex-direction: row;
      gap: 3rem;
    }
  }

  @media only screen and (min-width: 1600px) {
    .info-grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "admission location hours";
    }

    .table-wrapper {
      flex-direction: column;
    }
  }

  
